<div class="container">
  <div class="row">
    <h4>Seccion ADMINISTRADOR: Gestion muebles</h4>
    <div style="height: 20px;"></div>
    <div class="col text-right">
      <a href="/admin/muebles/agregar" class="btn btntrabajos">
        <i class="bi bi-plus"></i>Agrega</a>
      <a href="/admin/muebles/modificar/{{id}}" class="btn btntrabajos"><i
          class="bi bi-pencil"></i>Modifica</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mueble</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each muebles}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{nombreMueble}}</td>
            <td class="text-center">
              <a href="/admin/muebles/modificar/{{id}}" class="btn btn-sm btn-secondary">
                <i class="bi bi-pencil"></i>
              </a>
              <a href="/admin/muebles/eliminar/{{id}}" class="btn btn-sm btn-danger">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>